.button {
  font: inherit;
  padding: 12px 30px;
  border: none;
  /* border: 1px solid #abef63; */
  color: black;
  background: #abef63;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  font-size: 16px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: rgba(143, 255, 0, 0.47);
  /* border: 1px solid #abef63; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
